.joinCrew{
    padding-bottom:72px;
}
/* 배너 */
.bannerBox{
    width:100%;
    min-height:45.4rem;
    height:calc(100vh - 266px);
    background:url('../../assets/images/banner_01.png') no-repeat center / cover;
    overflow:hidden;
}

/* 크루 넘버 */
.crewNum span{
    color:#444;
    font-size:1.2rem;
}
.crewNum .current{
    color:#1EC41E;
}

/* btnWrap */
.btnWrap{
    background-color:#fff;
    border-top:0.1rem solid #ECECEC;
}
.btn {
    width:calc(100% - 5.8rem);
    font-size:1.8rem;
    font-weight:500;
}
.btnHeart {
    flex-direction: column;
    justify-content:center;
    align-items:center;
    width:5rem;
    height:5rem;
    font-size:1.1rem;
}
.btnHeart .ico{
    width:2rem;
    height:2rem;
}
